# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\QTProject\BaseLine-LSTM\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
